body {
  overflow-x: hidden;
}

#about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: black;
  color: white;
}

#about_section .h1font {
  font-family: 'Beth Ellen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about_section #about_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #01091D;
  border-bottom: 10px groove #4DAF19;
}

#about_section #about_header h3 {
  font-size: calc(22px + 1vw);
  margin-bottom: 1%;
  margin-top: 1%;
}

#about_section #about_header h3 span:nth-of-type(1) {
  -webkit-animation: color_run 0.4s 0.15s linear;
          animation: color_run 0.4s 0.15s linear;
}

#about_section #about_header h3 span:nth-of-type(2) {
  -webkit-animation: color_run 0.4s 0.3s linear;
          animation: color_run 0.4s 0.3s linear;
}

#about_section #about_header h3 span:nth-of-type(3) {
  -webkit-animation: color_run 0.4s 0.45s linear;
          animation: color_run 0.4s 0.45s linear;
}

#about_section #about_header h3 span:nth-of-type(4) {
  -webkit-animation: color_run 0.4s 0.6s linear, color_stick 0.7s 1.5s linear forwards;
          animation: color_run 0.4s 0.6s linear, color_stick 0.7s 1.5s linear forwards;
}

#about_section #about_header h3 span:nth-of-type(5) {
  -webkit-animation: color_run 0.4s 0.75s linear;
          animation: color_run 0.4s 0.75s linear;
}

#about_section #about_header h3 span:nth-of-type(6) {
  -webkit-animation: color_run 0.4s 0.9s linear;
          animation: color_run 0.4s 0.9s linear;
}

#about_section #about_header h3 span:nth-of-type(7) {
  -webkit-animation: color_run 0.4s 1.05s linear;
          animation: color_run 0.4s 1.05s linear;
}

#about_section #about_header h3 span:nth-of-type(8) {
  -webkit-animation: color_run 0.4s 1.2s linear;
          animation: color_run 0.4s 1.2s linear;
}

#about_section #about_header h3 span:nth-of-type(9) {
  -webkit-animation: color_run 0.4s 1.35s linear;
          animation: color_run 0.4s 1.35s linear;
}

#about_section #about_header h4 {
  margin-top: 0;
  font-size: calc(10px + .6vw);
}

#about_section .about_div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #04133D;
}

#about_section .about_div1 .div1_haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

#about_section .about_div1 .div1_haut .block_div {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

#about_section .about_div1 .div1_haut .block_div img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 10px solid white;
  border-left: 10px solid white;
  opacity: 0;
  -webkit-animation: slide_right 0.6s 0.3s ease-in forwards;
          animation: slide_right 0.6s 0.3s ease-in forwards;
}

#about_section .about_div1 .div1_haut .block_div p {
  position: absolute;
  top: 25%;
  left: -50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: white;
  color: black;
  padding: 5% 10% 5% 10%;
  font-size: calc(10px + 0.6vw);
  -webkit-box-shadow: 10px 10px #FFCC00;
          box-shadow: 10px 10px #FFCC00;
  border: 10px groove #1c3896;
  width: 60%;
  opacity: 0;
  -webkit-animation: slide_left 0.6s 0.3s ease-in forwards;
          animation: slide_left 0.6s 0.3s ease-in forwards;
}

#about_section .about_div1 .div1_bas {
  position: relative;
  background: white;
  color: black;
  top: calc(-9vh);
  text-align: center;
  padding-top: 9vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 10px groove #369BE8;
}

#about_section .about_div1 .div1_bas p {
  padding: 0 5% 0 5%;
}

#about_section .about_div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #022714;
}

#about_section .about_div2 .div2_haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 3;
  position: relative;
  border-top: 10px groove #FFCC00;
}

#about_section .about_div2 .div2_haut .block_div2 {
  width: 60%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

#about_section .about_div2 .div2_haut .block_div2 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-animation: slide_left2 0.5s 0.8s ease-in forwards;
          animation: slide_left2 0.5s 0.8s ease-in forwards;
  border-top: 10px solid white;
  border-right: 10px solid white;
}

#about_section .about_div2 .div2_haut .block_div2 p {
  position: absolute;
  background: white;
  color: black;
  top: 50%;
  right: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5% 10% 5% 10%;
  font-size: calc(10px + 0.6vw);
  -webkit-box-shadow: -10px 10px #FFCC00;
          box-shadow: -10px 10px #FFCC00;
  border: 10px groove #1c3896;
  width: 60%;
  opacity: 0;
  -webkit-animation: slide_right2 0.5s 0.8s ease-in forwards;
          animation: slide_right2 0.5s 0.8s ease-in forwards;
}

#about_section .about_div2 .div2_bas {
  position: relative;
  background: white;
  color: black;
  top: calc(-9vh);
  text-align: center;
  padding-top: 9vh;
}

#about_section .about_div2 .div2_bas p {
  padding: 0 5% 0 5%;
}

.whitespace {
  width: 40%;
  height: 40%;
}

@-webkit-keyframes color_run {
  0% {
    color: white;
  }
  50% {
    color: #FFCC00;
  }
  100% {
    color: white;
  }
}

@keyframes color_run {
  0% {
    color: white;
  }
  50% {
    color: #FFCC00;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes color_stick {
  0% {
    color: white;
  }
  75% {
    color: #fcff35;
  }
  100% {
    color: #FFCC00;
  }
}

@keyframes color_stick {
  0% {
    color: white;
  }
  75% {
    color: #fcff35;
  }
  100% {
    color: #FFCC00;
  }
}

@-webkit-keyframes slide_right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide_right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide_left {
  0% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes slide_left {
  0% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes slide_right2 {
  0% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slide_right2 {
  0% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes slide_left2 {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5%, 0);
            transform: translate(-5%, 0);
    opacity: 1;
  }
}

@keyframes slide_left2 {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5%, 0);
            transform: translate(-5%, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 599px) {
  .whitespace {
    display: none;
  }
  .about_div1, .about_div2 {
    width: 100%;
  }
  .about_div1 .div1_haut, .about_div1 .div1_bas, .about_div1 .div2_haut, .about_div1 .div2_bas, .about_div2 .div1_haut, .about_div2 .div1_bas, .about_div2 .div2_haut, .about_div2 .div2_bas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 0;
  }
  .about_div1 .div1_haut .block_div, .about_div1 .div1_haut .block_div2, .about_div1 .div1_bas .block_div, .about_div1 .div1_bas .block_div2, .about_div1 .div2_haut .block_div, .about_div1 .div2_haut .block_div2, .about_div1 .div2_bas .block_div, .about_div1 .div2_bas .block_div2, .about_div2 .div1_haut .block_div, .about_div2 .div1_haut .block_div2, .about_div2 .div1_bas .block_div, .about_div2 .div1_bas .block_div2, .about_div2 .div2_haut .block_div, .about_div2 .div2_haut .block_div2, .about_div2 .div2_bas .block_div, .about_div2 .div2_bas .block_div2 {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_div1 .div1_haut .block_div p, .about_div1 .div1_haut .block_div2 p, .about_div1 .div1_bas .block_div p, .about_div1 .div1_bas .block_div2 p, .about_div1 .div2_haut .block_div p, .about_div1 .div2_haut .block_div2 p, .about_div1 .div2_bas .block_div p, .about_div1 .div2_bas .block_div2 p, .about_div2 .div1_haut .block_div p, .about_div2 .div1_haut .block_div2 p, .about_div2 .div1_bas .block_div p, .about_div2 .div1_bas .block_div2 p, .about_div2 .div2_haut .block_div p, .about_div2 .div2_haut .block_div2 p, .about_div2 .div2_bas .block_div p, .about_div2 .div2_bas .block_div2 p {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */