$font_base:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$j:0;
$blue:#04133D;

body{
    overflow-x:hidden;
}

#about_section{
    display:flex;
    flex-direction:column;
    font-family:$font_base;
    background:black;
    color:white;
    .h1font{
        font-family:'Lobster', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #about_header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items:center;
        background:#01091D;
        border-bottom:10px groove #4DAF19;
        h3{
            font-size:calc(22px + 1vw);
            margin-bottom:1%;
            margin-top:1%;
            span{
                $delay:0;
                @for $i from 1 through 9{
                    $delay:$delay + 0.15;
                    &:nth-of-type(#{$i}){
                        @if $i==4{
                            animation: color_run 0.4s $delay+s linear, color_stick 0.7s 1.5s linear forwards;
                        }
                        @else{
                            animation: color_run 0.4s $delay+s linear;
                        }
                    }
                }
            }
        }
        h4{
            margin-top:0;
            font-size:calc(10px + .6vw);
        }
    }
    .about_div1{
        display:flex;
        flex-direction:column;
        width:100%;
        background:#04133D;
        .div1_haut{
            display:flex;
            flex-direction: row;
            z-index:3;
            flex-grow:1;
            position:relative;
            .block_div{
                width:60%;
                object-fit:cover;
                position:relative;
                img{
                    position:relative;
                    width:100%;
                    height:auto;
                    object-fit:cover;
                    border-top:10px solid white;
                    border-left:10px solid white;
                    opacity:0;
                    animation:fade_in 0.9s 0.3s ease-in forwards;
                    box-shadow:10px 10px 15px grey;
                }
                p{
                    position:absolute;
                    top:25%;
                    left:-50%;
                    transform:translate(0,-50%);
                    background:white;
                    color:black;
                    padding:5% 10% 5% 10%;
                    font-size:calc(10px + 0.6vw);
                    box-shadow:10px 10px #FFCC00;
                    border:10px groove rgb(28, 56, 150);
                    width:60%;
                    opacity:0;
                    animation:fade_in 0.9s 0.8s ease-in forwards;
                }
            }
        }
        .div1_bas{
            position:relative;
            background:white;
            color:black;
            top:calc(-9vh);
            text-align:center;
            padding-top:9vh;
            flex-grow:1;
            border-top:10px groove #369BE8;
            p{
                padding:0 5% 0 5%;
            }
        }
    }
    .about_div2{
        display:flex;
        flex-direction:column;
        width:100%;
        background:#022714;
        .div2_haut{
            display:flex;
            flex-direction: row-reverse;
            z-index:3;
            position:relative;
            border-top:10px groove #FFCC00;
            .block_div2{
                width:60%;
                position:relative;
                object-fit:cover;
                img{
                    width:100%;
                    height:auto;
                    object-fit:cover;
                    opacity:0;
                    animation:fade_in 0.9s 0.3s ease-in forwards;
                    border-top:10px solid white;
                    border-right:10px solid white;
                    box-shadow:-10px 10px 15px grey;
                }
                p{
                    position:absolute;
                    background:white;
                    color:black;
                    top:50%;
                    right:-100%;
                    transform:translate(-50%,-50%);
                    padding:5% 10% 5% 10%;
                    font-size:calc(10px + 0.6vw);
                    box-shadow:-10px 10px #FFCC00;
                    border:10px groove rgb(28, 56, 150);
                    width:60%;
                    opacity:0;
                    animation:fade_in 0.9s 0.8s ease-in forwards;
                }
            }
        }
        .div2_bas{
            position:relative;
            background:white;
            color:black;
            top:calc(-9vh);
            text-align:center;
            padding-top:9vh;
            p{
                padding:0 5% 0 5%;
            }
        }
    }
}

.whitespace{
    width:40%;
    height:40%;
}

@keyframes color_run{
    0%{color:white;}
    50%{color:#FFCC00;}
    100%{color:white;}
}

@keyframes color_stick{
    0%{color:white;}
    75%{color:#fcff35;}
    100%{color:#FFCC00;}
}

@keyframes slide_right{
    0%{transform:translateX(100%);opacity:0;}
    100%{transform:translateX(0px);opacity:1;}
}

@keyframes slide_left{
    0%{transform:translate(-100%,-50%);opacity:0;}
    100%{transform:translate(0%,-50%);opacity:1;}
} 

@keyframes slide_right2{
    0%{transform:translate(50%,-50%);opacity:0;}
    100%{transform:translate(-50%,-50%);opacity:1;}
}

@keyframes slide_left2{
    0%{transform:translate(-100%,0);opacity:0;}
    100%{transform:translate(-5%,0);opacity:1;}
}

@keyframes fade_in{
    0%{opacity:0;}
    100%{opacity:1;}
}

@media screen and (max-width:599px){
    .whitespace{
        display:none;
    }
    .about_div1, .about_div2{
        width:100%;
        .div1_haut, .div1_bas, .div2_haut, .div2_bas{
            flex-direction:column;
            width:100%;
            top:0;
            .block_div, .block_div2{
                width:100%;
                flex-grow:1;
                flex-direction:column;
                object-fit: contain;
                justify-content: center;
                align-content:center;
                align-items:center;
                p{
                    display:none;
                }
                // img{
                //     position:relative;
                //     animation:none;
                //     transform:none;
                //     border:none;
                //     width:100%;
                //     top:0;
                //     left:0;
                //     opacity:1;
                // }
                // p{
                //     position:fixed;
                //     animation:none;
                //     transform:none;
                //     top:0;
                //     left:0;
                //     border:none;
                //     width:100%;
                //     opacity:1;
                // }
            }
        }
    }
}