/*Style global des Elements*/
body {
    background: -webkit-gradient(linear, left top, right top, from(#04133d), color-stop(15%, black), color-stop(85%, black), to(#04133d));
    background: linear-gradient(
            90deg, #04133d 0%, black 15%, black 85%, #04133d 100%)
}

table {
    opacity: .9;
    font-size: 1.1rem;
    border-collapse: collapse;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
    color: white;
}

tr td {
    border: .5px solid white;
    background: no-repeat center url("../assets/images/bg-admin.jpg");
    background-size: cover;
    padding: 5px;
}

tr th {
    background: rgb(1, 6, 20);
    border: 1px solid rgba(255, 255, 255, .4);
    font-style: italic;
    padding: 20px;
}

h2 {
    text-align: center;
    color: white;

}

label {
    font-size: 1.2rem;
}

.form_manage > div {
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form_manage > div > input {
    height: 3rem;
    width: 15rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
}

.form_manage > div > label {
    margin: 15px;
}

/*CONTAINER*/
.administration {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.container_admin_client {
    display: flex;
    flex-direction: row;
}

.box_admin {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

/*FORMULAIRE AJOUT PRODUIT*/
.form_add_prod {
    width: 50%;
    display: flex;
    align-items: center;
    border: 5px gray double;
    margin: auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
    background: no-repeat center url("../assets/images/bg-admin.jpg");
    background-size: cover;
    color: white;
    border-image: linear-gradient(40deg, black 30%, white 40%, white 50%, white 60%, black 70%);
    border-image-slice: 2;
}

.form_add_prod > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
}

.form_add_prod input {
    text-align: center;
    width: 10rem;
    height: 3rem;
    margin: 10px;
    font-size: 1.1rem;
}

/*FORMULAIRE GENERAL (Excluant ajout produit)*/
.form_manage {
    width: 50%;
    padding: 30px;
    margin: 50px auto;
    color: white;
    font-size: 1.1rem;
    border-image: linear-gradient(40deg, black 30%, white 40%, white 50%, white 60%, black 70%);
    border-image-slice: 2;
    background: no-repeat center url("../assets/images/bg-admin.jpg");
    background-size: cover;
}

.form_manage > div {
    display: flex;
    flex-direction: column;
}
/*Form admin flients*/
.container_admin_client label, .container_admin_client input{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}

.container_admin_client form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_admin_client  fieldset{
    width: 60%;
}
.container_admin_client form{
    width: 80%;
}
.container_admin_client input{
    width: 70%;
    height: 50px;
    font-size: 1.5rem;
}

.form_radio{
    display: flex;
}
.form_radio input{
    width: 20px;
}
    /*BOUTTON*/

.btn {
    background: rgba(1, 6, 20, .6);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    margin: 20px auto;
}

/*TITRE FORMULAIRES*/
.title_form {
    color: white;
    background: rgba(1, 6, 20, .6);
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

.stock_low {
    color: red;
}

.stock_high {
    color: #4DAF19;
}

/*Box d'erreur*/
.error_box {
    color: red;
}
.success_box{
    color: #4DAF19;

}
/*Disposition colonne*/
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
