.administration {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.container_form {
    display: flex;
}

.box_admin {
    width: 80%;
    border: 2px solid black;
    margin: 20px;
}

/*AFFICHAGE EDIT PRODUIT*/
.display {
    /*display: none;*/
}