@import url("newsletter.css");
@import url("mentions.css");
body {
  margin: 0;
  padding: 0;
}

body header a {
  text-decoration: none;
}

body header a h1 {
  margin: 0;
  padding: 2%;
  text-align: center;
  background: black;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

body header a h1 .h1font {
  font-family: 'Beth Ellen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body header a:hover .h1font:nth-of-type(1) {
  color: #003399;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body header a:hover .h1font:nth-of-type(2) {
  color: #FFCC00;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

body header #nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, black 50%, rgba(47, 53, 66, 0) 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 53, 66, 0)), color-stop(50%, black), to(rgba(47, 53, 66, 0)));
     border-image: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, black 50%, rgba(47, 53, 66, 0) 100%);
  border-image-slice: 1;
}

body header #nav_bar #nav_ul1, body header #nav_bar #nav_ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0 2% 0;
  margin: 0;
}

body header #nav_bar #nav_ul1 li, body header #nav_bar #nav_ul2 li {
  list-style-type: none;
}

body header #nav_bar #nav_ul1 li a, body header #nav_bar #nav_ul2 li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body header #nav_bar #nav_ul1 li a:hover, body header #nav_bar #nav_ul2 li a:hover {
  color: #006699;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header #nav_bar #nav_ul1 li a::before, body header #nav_bar #nav_ul2 li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #FFCC00;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body header #nav_bar #nav_ul1 li a:hover::before, body header #nav_bar #nav_ul2 li a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body header #nav_bar #nav_bar1 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

body header #nav_bar #nav_bar1 ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header #nav_bar #nav_bar2 {
  -webkit-box-flex: 1.3;
      -ms-flex-positive: 1.3;
          flex-grow: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header #nav_bar #nav_bar2 ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header #nav_bar #nav_bar2 ul li {
  margin-top: auto;
  margin-bottom: auto;
}

body header #nav_bar #nav_bar2 ul button {
  background: none;
  border: none;
}

body header #nav_bar #nav_bar2 ul button:hover {
  cursor: pointer;
}

#nav_bar_mobile {
  display: none;
}

#video_container {
  position: relative;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, black), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, black));
  background: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 50%, black 80%);
}

#video_container video {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

#staring1, #staring2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2% auto 2% auto;
}

#staring1 .watch_min, #staring2 .watch_min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 16%;
  min-width: 180px;
}

#staring1 .watch_min figcaption, #staring2 .watch_min figcaption {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#banner {
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, black), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, black)), url("../assets/product-images/omega-moonwatch/3861.jpg");
  background-image: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 50%, black 80%), url("../assets/product-images/omega-moonwatch/3861.jpg");
}

#banner h2, #banner p {
  color: white;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#banner h2 {
  font-size: 2em;
  margin-left: 3%;
  padding: 2%;
}

#banner p {
  margin-left: 2%;
  width: 30%;
  min-width: 250px;
}

.separator {
  height: 3px;
  width: 70%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 53, 66, 0)), color-stop(50%, black), to(rgba(47, 53, 66, 0)));
  background: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, black 50%, rgba(47, 53, 66, 0) 100%);
  margin-left: auto;
  margin-right: auto;
}

#quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quote p {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#quote p:nth-of-type(1) {
  font-size: 1.5em;
}

#quote p:nth-of-type(2) {
  font-size: 1.1em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  color: white;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer #footer_logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer_logo .h1font {
  font-family: 'Beth Ellen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer #footer_logo a {
  text-decoration: none;
}

footer #footer_logo a h1 {
  color: white;
}

footer a {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  color: #BFBFBF;
}

footer #footer_nav {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer_nav #footer_links ul, footer #footer_nav #footer_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

footer #footer_nav #footer_links li, footer #footer_nav #footer_social li {
  list-style-type: none;
}

footer #footer_nav #footer_links ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #footer_nav #footer_links ul li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer #footer_nav #footer_links ul li a:hover {
  color: #FFCC00;
  -webkit-text-decoration: underline #006699;
          text-decoration: underline #006699;
  text-underline-position: under;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #footer_nav #footer_social ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer_nav #footer_social ul li {
  margin: 2% 2% 0 2%;
}

footer #footer_nav #footer_social ul li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer_nav #footer_social ul li a:hover {
  color: #006699;
  background: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #footer_nav #footer_social ul li a i {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 599px) {
  #nav_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav_bar #nav_ul1, #nav_bar #nav_ul2, #nav_bar #nav_bar2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav_bar #nav_ul1 form, #nav_bar #nav_ul2 form, #nav_bar #nav_bar2 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #footer_nav #footer_links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #footer_nav #footer_social {
    margin-bottom: 5%;
  }
  footer #footer_nav #footer_social ul {
    padding: 0;
  }
}
/*# sourceMappingURL=boutique.css.map */