@import url("footer.css");
@import url("header.css");
@import url("newsletter.css");
@import url("mentions.css");
@import url("contact.css");
@import url("about.css");
@import url("globalrules.css");
@import url("profil.css");
@import url("panier.css");
body {
  margin: 0;
  padding: 0;
}

#nav_bar_mobile {
  display: none;
}

#banner_standard {
  background: #04133D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.65);
          box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.65);
}

#banner_standard h2 {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: calc(0.7vw + 16px);
  font-style: italic;
}

#video_container {
  position: relative;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, black), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, black));
  background: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 50%, black 80%);
}

#video_container video {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

#staring1, #staring2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, right top, from(#04133d), color-stop(15%, black), color-stop(85%, black), to(#04133d));
  background: linear-gradient(90deg, #04133d 0%, black 15%, black 85%, #04133d 100%);
  border-bottom: 4px solid;
  border-top: 4px solid;
  -o-border-image: linear-gradient(90deg, black 30%, white 40%, white 50%, white 60%, black 70%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(30%, black), color-stop(40%, white), color-stop(50%, white), color-stop(60%, white), color-stop(70%, black));
     border-image: linear-gradient(90deg, black 30%, white 40%, white 50%, white 60%, black 70%);
  border-image-slice: 2;
}

#staring1 .watch_min, #staring2 .watch_min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  min-width: 160px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: white;
  margin: 5% 2%;
  padding: 1% 0;
}

#staring1 .watch_min a, #staring2 .watch_min a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 70%;
  height: calc(100px + 20vh);
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(90deg, black 15%, white 40%, white 50%, white 60%, black 85%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(15%, black), color-stop(40%, white), color-stop(50%, white), color-stop(60%, white), color-stop(85%, black));
     border-image: linear-gradient(90deg, black 15%, white 40%, white 50%, white 60%, black 85%);
  border-image-slice: 2;
}

#staring1 .watch_min a img, #staring2 .watch_min a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#staring1 .watch_min a:hover, #staring2 .watch_min a:hover {
  border-bottom: 0;
}

#staring1 .watch_min a:hover img, #staring2 .watch_min a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#staring1 .watch_min figcaption, #staring2 .watch_min figcaption {
  position: relative;
  width: 100%;
  padding: 2% 1%;
  height: calc(80px + 30vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#staring1 .watch_min figcaption .title, #staring2 .watch_min figcaption .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#staring1 .watch_min figcaption .title h3, #staring2 .watch_min figcaption .title h3 {
  color: #FFCC00;
}

#staring1 .watch_min figcaption .title .line, #staring2 .watch_min figcaption .title .line {
  height: 2px;
  width: 80%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(50%, #FFCC00), color-stop(70%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, #FFCC00 50%, rgba(0, 0, 0, 0) 70%);
}

#staring1 .watch_min figcaption .name, #staring2 .watch_min figcaption .name {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#staring1 .watch_min figcaption .name p, #staring2 .watch_min figcaption .name p {
  margin: 0;
}

#staring1 .watch_min figcaption .name h4, #staring2 .watch_min figcaption .name h4 {
  font-size: 1.2em;
  margin: 1% 0;
}

#staring1 .watch_min figcaption form input[type=submit], #staring2 .watch_min figcaption form input[type=submit] {
  margin-top: 1%;
  padding: 5% 8%;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  background: #04133D;
  color: #FFCC00;
  border: 1px solid #FFCC00;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#staring1 .watch_min figcaption form input[type=submit]:hover, #staring2 .watch_min figcaption form input[type=submit]:hover {
  cursor: pointer;
  background: #14389b;
  color: white;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#banner {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, black), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, black)), url("/boutique/assets/images/omega_banner.jpg");
  background-image: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 50%, black 80%), url("/boutique/assets/images/omega_banner.jpg");
}

#banner #banner_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner #banner_desc #banner_left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  min-width: 200px;
}

#banner #banner_desc #banner_left h2 {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  margin: 2% 0 2% 5%;
  color: #FFCC00;
}

#banner #banner_desc #banner_left p {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 3% 0 0;
  padding: 2% 0% 3% 2%;
  min-width: 250px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(0%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 0%);
}

#banner #banner_desc #banner_right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30%;
  min-width: 200px;
}

#banner #banner_desc #banner_right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, #04133D), to(#04133D));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #04133D 50%, #04133D 100%);
  color: #FFCC00;
  padding: 2% 4%;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6em;
}

#banner #banner_desc #banner_right a i {
  opacity: 0;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#banner #banner_desc #banner_right a:hover i {
  opacity: 1;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.separator {
  height: 3px;
  width: 70%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 53, 66, 0)), color-stop(50%, black), to(rgba(47, 53, 66, 0)));
  background: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, black 50%, rgba(47, 53, 66, 0) 100%);
  margin-left: auto;
  margin-right: auto;
}

#quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quote p {
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#quote p:nth-of-type(1) {
  font-size: 1.5em;
}

#quote p:nth-of-type(2) {
  font-size: 1.1em;
}

@media screen and (max-width: 599px) {
  #nav_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav_bar #nav_ul1, #nav_bar #nav_ul2, #nav_bar #nav_bar2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav_bar #nav_ul1 form, #nav_bar #nav_ul2 form, #nav_bar #nav_bar2 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #nav_bar #nav_montres {
    position: relative;
  }
  #nav_bar #nav_montres ul {
    position: relative;
    background: white;
    padding: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 300%;
  }
  #nav_bar #nav_montres ul li {
    text-align: center;
    margin-bottom: 13%;
    width: 100%;
  }
  #nav_bar #nav_montres ul li:nth-of-type(1) {
    margin-top: 13%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #footer_nav #footer_links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #footer_nav #footer_social {
    margin-bottom: 5%;
  }
  footer #footer_nav #footer_social ul {
    padding: 0;
  }
}
/*# sourceMappingURL=boutique.css.map */