@import url('newsletter.css');
@import url('mentions.css');
@import url('contact.css');
@import url('about.css');

$font_base:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$blue:#04133D;

body{
    margin:0;
    padding:0;
    header{
        a{
            text-decoration:none;
            h1{
                margin:0;
                padding:2%;
                text-align:center;
                background:black;
                font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color:white;
                .h1font{
                    font-family:'Beth Ellen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    transition:all 0.3s;
                }
            }
            &:hover{
                // .h1font:nth-of-type(1){
                //     color:$blue;
                //     transition:all 0.4s;
                // }
                .h1font:nth-of-type(2){
                    color:#FFCC00;
                    transition:all 0.6s;
                }
            }
        }

        #nav_bar{
            display:flex;
            position:relative;
            width:100%;
            justify-content: space-between;
            border-bottom:3px solid;
            border-image:linear-gradient(90deg, rgba(47,53,66,0) 0%, rgba(0,0,0,1) 50%, rgba(47,53,66,0) 100%);
            border-image-slice:1;
            #nav_ul1, #nav_ul2{
                display:flex;
                padding:2% 0 2% 0;
                margin:0;
                li{
                    list-style-type:none;
                    a{
                        position:relative;
                        text-decoration:none;
                        color:black;
                        font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        transition: all 0.3s;
                        &:hover{
                            color:$blue;
                            transition:all 0.5s;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: -5px;
                            left: 0;
                            visibility: hidden;
                            transform: scaleX(0);
                            background-color: #FFCC00;
                            transition: all 0.4s ease-in-out;
                        }
                          
                        &:hover::before {
                            visibility: visible;
                            transform: scaleX(1);
                        }
                    }
                }
            }
            #nav_bar1{
                flex-grow:2;
                ul{
                    justify-content: space-around;
                }
            }
            #nav_bar2{
                flex-grow:1.3;
                display:flex;
                justify-content: flex-end;
                ul{
                    width:50%;
                    display:flex;
                    justify-content: space-around;
                    li{
                        margin-top:auto;
                        margin-bottom:auto;
                    }
                    button{
                        background:none;
                        border:none;
                        &:hover{
                            cursor:pointer;
                        }
                    }
                }
            }
        }
    }
}

#nav_bar_mobile{
    display:none;
}

#banner_standard{
    background:$blue;
    display:flex;
    justify-content: center;
    text-align:center;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.65);
    h2{
        font-family:$font_base;
        color:white;
        font-size:calc(0.7vw + 16px);
        font-style:italic;
    }
}

#video_container{
    position:relative;
    height:50vh;
    object-fit: cover;
    display:flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 80%);
    video{
        height:100%;
        width:80%;
        object-fit:cover;
        object-position:center;
        z-index:-1;
    }
}

#staring1, #staring2{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 2% auto 2% auto;
    .watch_min{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align:center;
        width:16%;
        min-width:180px;
        figcaption{
            font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}

#banner{
    height:40vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-image:linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 80%), url('../assets/product-images/omega-moonwatch/3861.jpg');
    h2,p{
        color:white;
        font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h2{
        font-size:2em;
        margin-left:3%;
        padding: 2%;
    }
    p{
        margin-left:2%;
        width:30%;
        min-width:250px;
    }
}

.separator{
    height:3px;
    width:70%;
    background:linear-gradient(90deg, rgba(47,53,66,0) 0%, rgba(0,0,0,1) 50%, rgba(47,53,66,0) 100%);;
    margin-left:auto;
    margin-right:auto;
}

#quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    p{
        font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        &:nth-of-type(1){
            font-size:1.5em;
        }
        &:nth-of-type(2){
            font-size:1.1em;
        }
    }
}

footer{
    display:flex;
    background:black;
    color:white;
    font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    #footer_logo{
        flex-grow:1;
        display:flex;
        justify-content: center;
        .h1font{
            font-family:'Beth Ellen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        a{
            text-decoration:none;
            h1{
                color:white;
            }
        }
    }
    a{
        font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration:none;
        color:#BFBFBF;
    }
    #footer_nav{
        flex-grow:3;
        display:flex;
        flex-direction:column;
        justify-content: center;
        #footer_links, #footer_social{
            ul{
                display:flex;
                margin:0;
            }
            li{
                list-style-type:none;
            }
        }
        #footer_links{
            ul{
                justify-content: space-around;
                li{
                    a{
                        transition:all 0.3s;
                        &:hover{
                            color:#FFCC00;
                            text-decoration:underline #006699;
                            text-underline-position: under;
                            transition:all 0.5s;
                        }
                    }
                }
            }
        }
        #footer_social{
            ul{
                justify-content: center;
                li{
                    margin:2% 2% 0 2%;
                    a{
                        transition:all 0.3s;
                        &:hover{
                            color:#006699;
                            background:#FFCC00;
                            transition: all 0.5s;
                        }
                        display:flex;
                        i{
                            flex-grow:1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:599px){
    #nav_bar{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        #nav_ul1,#nav_ul2, #nav_bar2{
            flex-direction:column;
            justify-content: center;
            align-items:center;
            form{
                display:flex;
                flex-direction:row;
            }
        }
    }

    footer{
        flex-direction:column;
        #footer_nav{
            #footer_links{
                ul{
                    display:flex;
                    padding:0;
                    flex-direction:column;
                    justify-content: center;
                    align-content:center;
                    align-items:center;
                }
            }
            #footer_social{
                margin-bottom:5%;
                ul{
                    padding:0;
                }
            }
        }
    }
}
