#body_checkout {
  position: relative;
  background-attachment: fixed;
  background-image: url("/boutique/assets/images/night_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 55vh;
}

#body_checkout #outofstock {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body_checkout #outofstock a {
  color: #FFCC00;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_checkout #outofstock a:hover {
  color: greenyellow;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_checkout #checkingout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

#body_checkout #checkingout #formcontainer {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(3, 16, 41, 0.65);
  -webkit-box-shadow: 0px 12px 12px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 12px 12px 6px rgba(0, 0, 0, 0.3);
  padding: 2% 2%;
  z-index: 1;
}

#body_checkout #checkingout #formcontainer h3 {
  margin: 1% 0;
  font-size: calc(14px + 0.8vw);
  color: rgba(255, 255, 255, 0.75);
}

#body_checkout #checkingout #formcontainer form {
  position: relative;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #FFCC00;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #04133D;
  border-radius: 10px;
  background: rgba(27, 69, 148, 0.45);
  padding: 8% 10%;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

#body_checkout #checkingout #formcontainer form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#body_checkout #checkingout #formcontainer form div .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 120px;
}

#body_checkout #checkingout #formcontainer form div .column:first-of-type {
  margin-right: 5%;
}

#body_checkout #checkingout #formcontainer form div .column:last-of-type {
  margin-left: 5%;
}

#body_checkout #checkingout #formcontainer form label {
  margin-bottom: calc(6px + 1vh);
  font-size: calc(10px + 0.5vw);
  border-bottom: 1px solid #FFCC00;
}

#body_checkout #checkingout #formcontainer form input {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#body_checkout #checkingout #formcontainer form input[type=text], #body_checkout #checkingout #formcontainer form input[type=date] {
  margin-bottom: calc(8px + 1.5vh);
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid #04133D;
  border-left: 2px solid #04133D;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 2%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_checkout #checkingout #formcontainer form input[type=text]:focus, #body_checkout #checkingout #formcontainer form input[type=date]:focus {
  background: rgba(0, 0, 0, 0.4);
  color: #FFCC00;
  border: 2px solid #FFCC00;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#body_checkout #checkingout #formcontainer form input[type=submit] {
  padding: 5% 0%;
  margin-bottom: none;
  margin-top: 5%;
  background: #04133D;
  color: #FFCC00;
  border: 1px solid #FFCC00;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_checkout #checkingout #formcontainer form input[type=submit]:hover {
  cursor: pointer;
  color: white;
  background: #FFCC00;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/*# sourceMappingURL=checkout.css.map */