#body_collection {
  position: relative;
  width: 100%;
  background: url("/boutique/assets/images/night_bg3.jpg");
}

#body_collection #main_collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 19, 61, 0)), color-stop(50%, rgba(177, 191, 230, 0.233007)), to(rgba(4, 19, 61, 0)));
  background: linear-gradient(90deg, rgba(4, 19, 61, 0) 0%, rgba(177, 191, 230, 0.233007) 50%, rgba(4, 19, 61, 0) 100%);
}

#body_collection #main_collection h4 {
  font-size: calc(13px + 1.5vw);
  font-family: 'Poiret One', Verdana;
  color: rgba(255, 255, 255, 0.9);
  margin: 0.7% 0%;
  position: relative;
  z-index: 2;
}

#body_collection #main_collection h4::after {
  content: '';
  z-index: 1;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 204, 0, 0)), color-stop(50%, #ffcc00), to(rgba(255, 204, 0, 0)));
  background: linear-gradient(90deg, rgba(255, 204, 0, 0) 0%, #ffcc00 50%, rgba(255, 204, 0, 0) 100%);
}

#body_collection #main_collection #collection_name {
  font-family: 'Lobster', Verdana;
  color: #FFCC00;
  font-size: calc(18px + 3vw);
  text-shadow: 4px 4px 0 rgba(206, 69, 5, 0.5);
}

#body_collection #main_collection #collection_name h2 {
  margin: 1.5% 0 1% 0;
}

#body_collection #main_collection #collection_desc {
  width: 80%;
  max-height: 35vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #FFCC00 #04133D;
  scrollbar-width: thin;
}

#body_collection #main_collection #collection_desc p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 1% 2%;
}

#body_collection #main_collection #collection_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 3%;
}

#body_collection #main_collection #collection_container .collection_product {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: -webkit-gradient(linear, left top, right top, from(#04133d), color-stop(15%, black), color-stop(85%, black), to(#04133d));
  background: linear-gradient(90deg, #04133d 0%, black 15%, black 85%, #04133d 100%);
  color: white;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.3);
  width: 22%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2% 2%;
}

#body_collection #main_collection #collection_container .collection_product .aimg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(90deg, black 15%, white 40%, white 50%, white 60%, black 85%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(15%, black), color-stop(40%, white), color-stop(50%, white), color-stop(60%, white), color-stop(85%, black));
     border-image: linear-gradient(90deg, black 15%, white 40%, white 50%, white 60%, black 85%);
  border-image-slice: 2;
}

#body_collection #main_collection #collection_container .collection_product .aimg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, black 100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_collection #main_collection #collection_container .collection_product .aimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#body_collection #main_collection #collection_container .collection_product .aimg:hover:after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, scale 0.4s;
  transition: opacity 0.3s ease-in, scale 0.4s;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #FFCC00;
  font-family: 'Rosario', Verdana;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos a {
  text-decoration: none;
  color: #99CCFF;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos a::before {
  content: '';
  background: #FFCC00;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos a:hover {
  color: #FFCC00;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body_collection #main_collection #collection_container .collection_product .collection_infos a:hover::before {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 599px) {
  #body_collection #main_collection #collection_container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #body_collection #main_collection #collection_container .collection_product {
    margin: 2%;
  }
}
/*# sourceMappingURL=collection.css.map */