$font_base:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$blue:#04133D;
$yellow:#FFCC00;

html,body{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

strong, em{
    font-weight:inherit;
    font-style:inherit;
}

input[type=number]{
    -moz-appearance: textfield;
}

.ita{
    font-style:italic;
}

.strtxt{
    font-weight:bold;
}

.separator{
    height:2px;
    width:80%;
    background:linear-gradient(90deg, rgba(47,53,66,0) 0%,rgba(0,0,0,1) 30%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(47,53,66,0) 100%);
    margin:2% auto;
}

.separator_white{
    height:2px;
    width:80%;
    background:linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    margin:2% auto;
}

.addbasket{
    background:$yellow;
    color:$blue;
    font-size:1.2em;
    padding:1% 4%;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    font-family:$font_base;
    border-radius:15px;
    animation:0.6s 0.6s ease-in fade-out forwards;
}

.allow_cookie{
    position:absolute;
    width:80%;
    height:auto;
    background:rgb(160, 186, 241);
    color:black;
    font-family: $font_base;
    top:0;
    left:50%;
    transform: translateX(-50%);
    border-radius:10px;
    font-size:1em;
    padding : 1% 4%;
    animation:0.6s 5s ease-in fade-out forwards;
    text-align: center;
    z-index:4;
}

.alert_text{
    color:$yellow;
    font-size:80%;
}

.coloryellow{
    color:$yellow;
}

.lined{
    text-decoration:underline;
}

.smalltxt{
    font-size:70%;
}

#banner_standard{
    background: linear-gradient(90deg, rgba(1,9,29,1) 0%, rgba(4,19,61,1) 35%, rgba(36,66,154,1) 50%, rgba(4,19,61,1) 65%, rgba(1,9,29,1) 100%);
    display:flex;
    justify-content: center;
    text-align:center;
    width:100%;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.65);
    border-bottom:1px solid;
    border-image:linear-gradient(90deg, rgba(255,204,0,0) 0%, rgba(255,204,0,1) 35%, rgba(255,220,82,1) 50%, rgba(255,204,0,1) 65%, rgba(255,204,0,0) 100%);
    border-image-slice: 1;
    z-index:4;
    h2{
        font-family:'Poiret One';
        color:white;
        font-size:calc(0.6vw + 14px);
        border:1px solid;
        border-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
        border-image-slice: 1;
        padding:calc(5px + 0.3%) calc(5px + 0.7%);
        margin:calc(3px + 0.3%) 0;
    }
}

#newsletter_return, #form_return{
    min-height:55vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family:$font_base;
    text-align: center;
    a{
        color:$blue;
        transition:all 0.3s;
        position:relative;
        text-decoration:none;
        &::after{
            content:' ';
            position:absolute;
            bottom:0;
            left:0;
            background:$blue;
            width:100%;
            height:1.2px;
            transform:scale(0);
            transform-origin:left;
            transition: all 0.3s ease-out;
        }
        &:hover{ 
            color:$yellow;
            transition:all 0.5s ease-in;
            &::after{
                transform:scale(1);
                transform-origin:left;
                opacity:1;
                background:$yellow;
                transition:all 0.3s ease-in;
            }
        }
    }
}

@keyframes fade-out{
    0%{opacity:1;}
    100%{opacity:0;z-index:-2;}
}