strong, em{
    font-weight:inherit;
    font-style:inherit;
}

.ita{
    font-style:italic;
}

.strtxt{
    font-weight:bold;
}

.separator{
    height:2px;
    width:80%;
    background:linear-gradient(90deg, rgba(47,53,66,0) 0%,rgba(0,0,0,1) 30%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(47,53,66,0) 100%);
    margin:2%;
}