header a {
  text-decoration: none;
}

header a h1 {
  margin: 0;
  padding: 1.75%;
  text-align: center;
  background: black;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

header a h1 .h1font {
  font-family: 'Lobster', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header a:hover .h1font:nth-of-type(2) {
  color: #FFCC00;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

header #nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #010614;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(90deg, rgba(168, 183, 202, 0) 0%, rgba(168, 183, 202, 0.3) 50%, rgba(168, 183, 202, 0) 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(168, 183, 202, 0)), color-stop(50%, rgba(168, 183, 202, 0.3)), to(rgba(168, 183, 202, 0)));
     border-image: linear-gradient(90deg, rgba(168, 183, 202, 0) 0%, rgba(168, 183, 202, 0.3) 50%, rgba(168, 183, 202, 0) 100%);
  border-image-slice: 1;
}

header #nav_bar #nav_ul1, header #nav_bar #nav_ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0;
  margin: 0;
}

header #nav_bar #nav_ul1 li, header #nav_bar #nav_ul2 li {
  list-style-type: none;
  position: relative;
}

header #nav_bar #nav_ul1 li form input, header #nav_bar #nav_ul2 li form input {
  background: #a8b7ca;
  border-radius: 2px;
  border: 0;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #04133D;
}

header #nav_bar #nav_ul1 li form input:focus, header #nav_bar #nav_ul2 li form input:focus {
  outline: 0;
  border: 1px solid #FFCC00;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

header #nav_bar #nav_ul1 li form button, header #nav_bar #nav_ul2 li form button {
  color: #a8b7ca;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #nav_bar #nav_ul1 li form button:hover, header #nav_bar #nav_ul2 li form button:hover {
  color: #FFCC00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header #nav_bar #nav_ul1 li .a, header #nav_bar #nav_ul2 li .a {
  cursor: pointer;
}

header #nav_bar #nav_ul1 li a, header #nav_bar #nav_ul1 li .a, header #nav_bar #nav_ul2 li a, header #nav_bar #nav_ul2 li .a {
  position: relative;
  text-decoration: none;
  color: #a8b7ca;
  font-family: 'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #nav_bar #nav_ul1 li a:hover, header #nav_bar #nav_ul1 li .a:hover, header #nav_bar #nav_ul2 li a:hover, header #nav_bar #nav_ul2 li .a:hover {
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header #nav_bar #nav_ul1 li a:hover i, header #nav_bar #nav_ul1 li .a:hover i, header #nav_bar #nav_ul2 li a:hover i, header #nav_bar #nav_ul2 li .a:hover i {
  color: #FFCC00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header #nav_bar #nav_ul1 li a.link::before, header #nav_bar #nav_ul1 li .a.link::before, header #nav_bar #nav_ul2 li a.link::before, header #nav_bar #nav_ul2 li .a.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #FFCC00;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header #nav_bar #nav_ul1 li a.link:hover::before, header #nav_bar #nav_ul1 li .a.link:hover::before, header #nav_bar #nav_ul2 li a.link:hover::before, header #nav_bar #nav_ul2 li .a.link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header #nav_bar #nav_ul1 #nav_montres, header #nav_bar #nav_ul2 #nav_montres {
  position: relative;
}

header #nav_bar #nav_ul1 #nav_montres ul, header #nav_bar #nav_ul2 #nav_montres ul {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background: #010614;
  padding: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 200%;
}

header #nav_bar #nav_ul1 #nav_montres ul li, header #nav_bar #nav_ul2 #nav_montres ul li {
  text-align: center;
  margin-bottom: 13%;
  width: 100%;
}

header #nav_bar #nav_ul1 #nav_montres ul li:nth-of-type(1), header #nav_bar #nav_ul2 #nav_montres ul li:nth-of-type(1) {
  margin-top: 13%;
}

header #nav_bar #nav_ul1 #nav_montres:hover ul, header #nav_bar #nav_ul2 #nav_montres:hover ul {
  display: block;
  z-index: 5;
}

header #nav_bar #nav_bar1 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header #nav_bar #nav_bar1 ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #nav_bar #nav_bar2 {
  -webkit-box-flex: 1.3;
      -ms-flex-positive: 1.3;
          flex-grow: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #nav_bar #nav_bar2 ul {
  width: 50%;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #nav_bar #nav_bar2 ul li {
  margin-top: auto;
  margin-bottom: auto;
}

header #nav_bar #nav_bar2 ul button {
  background: none;
  border: none;
}

header #nav_bar #nav_bar2 ul button:hover {
  cursor: pointer;
}

header #nav_bar_mobile {
  display: none;
}

@media screen and (max-width: 599px) {
  header #nav_bar {
    display: none;
  }
  header #nav_bar_mobile {
    display: block;
  }
  header #nav_bar_mobile #menu_mb_l {
    z-index: 9;
    color: white;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-shadow: 1px 0 #04133D, 0 1px #04133D, -1px 0 #04133D, 0 -1px #04133D;
  }
  header #nav_bar_mobile #menu_mb_l:hover {
    cursor: pointer;
    color: #FFCC00;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  header #nav_bar_mobile ul {
    position: fixed;
    margin: 0;
    padding: 15% 0 0 10%;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 6;
    font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  header #nav_bar_mobile ul li {
    list-style-type: none;
    margin-bottom: 1%;
  }
  header #nav_bar_mobile ul li a {
    text-decoration: none;
    color: white;
  }
  header #nav_bar_mobile ul li form input[type=text] {
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgba(169, 179, 211, 0.815);
  }
  header #nav_bar_mobile ul li form button {
    background: transparent;
    border: none;
    color: rgba(169, 179, 211, 0.815);
  }
  header #nav_bar_mobile #menu_mb {
    display: none;
  }
  header #nav_bar_mobile #menu_mb:not(checked) ~ ul {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header #nav_bar_mobile #menu_mb:checked ~ ul {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}
/*# sourceMappingURL=header.css.map */