.intro_product {
    background: lightgoldenrodyellow;
    border: 1px solid black;
}

.banner_fix {
    background: lightgreen;
    border: 1px solid black;
    height: 450px;
}

.container_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 500px;
    background: black;
    border: 1px solid black;
}

.product_self {
    width: 85%;
    margin: 50px auto;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    background: black;
    border: 7px double white;
    border-radius: 20%;
    box-shadow: 10px 10px 35px #a1a1a1;
}

.container_pic_prod {
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border: solid 1px black;
    width: 40%;
    height: 500px;
    padding: 20px;
}

.artticle_prod {
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pic_prod {
    opacity: .9;
}

.container_text_product {
    display: flex;
    align-items: center;
    height: 500px;
    width: 50%;
    flex-direction: column;
}

.container_simil {
    padding: 10px;
    height: 400px;
    text-align: center;
    color: black;
}

.container_prod_simil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background: black;
    color: white;
    border-radius: 5%;
    border: 7px double white;
    box-shadow: 10px 10px 10px #b9b9b9;
}

.container_prod_simil div {
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

.sep_simil {

}
.product_simi{
    margin: 10px;
    font-style: italic;
}

.title_sim {
    font-size: 1.5em;
    margin: 30px auto;
}
