#body_produit {
  width: 100%;
  position: relative;
}

#body_produit #main_produit {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: black;
}

#body_produit #main_produit #container_produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  position: relative;
  width: 100%;
  height: 125vh;
}

#body_produit #main_produit #container_produit #container_image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#body_produit #main_produit #container_produit #container_image img {
  height: 100%;
  width: 70%;
  min-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  position: relative;
}

#body_produit #main_produit #container_produit #container_titre {
  position: absolute;
  left: 25%;
  top: 25%;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  background: #04133da9;
  padding: 1.5% 3.5%;
  font-family: 'Poiret One', Verdana;
  color: white;
  text-shadow: 2px 0 rgba(0, 0, 0, 0.3), 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, 0.3);
}

#body_produit #main_produit #container_produit #container_titre::before {
  content: '';
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffcc00ad;
}

#body_produit #main_produit #container_produit #container_titre::after {
  content: '';
  height: 100%;
  width: 2px;
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffcc00ad;
}

#body_produit #main_produit #container_produit #container_titre h2 {
  font-weight: 800;
  font-size: calc(30px + 3vw);
  margin: 0;
}

#body_produit #main_produit #container_produit #container_titre h3 #brand {
  font-style: italic;
  font-size: calc(14px + 1.5vw);
}

#body_produit #main_produit #container_specs {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 400px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

#body_produit #main_produit #container_specs ul {
  background: white;
  padding: 2% 4%;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  margin-top: 0;
}

#body_produit #main_produit #container_specs ul li {
  list-style-type: none;
}

#body_produit #main_produit #container_specs ul li b {
  font-family: 'Rosario', Verdana;
  color: #04133D;
}

#body_produit #main_produit #container_specs ul::before {
  content: '';
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffcc00ad;
}

#body_produit #main_produit #container_specs ul::after {
  content: '';
  height: 100%;
  width: 2px;
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffcc00ad;
}

#body_produit #main_produit #container_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body_produit #main_produit #container_desc {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media screen and (max-width: 599px) {
  #body_produit #main_produit #container_produit #container_image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #body_produit #main_produit #container_produit #container_image img {
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
  #body_produit #main_produit #container_produit #container_titre {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    background: #121218;
    text-align: center;
    padding: 2% 0;
  }
  #body_produit #main_produit #container_produit #container_titre::before, #body_produit #main_produit #container_produit #container_titre::after {
    content: none;
  }
  #body_produit #main_produit #container_specs {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    min-width: 250px;
  }
  #body_produit #main_produit #container_specs ul::before, #body_produit #main_produit #container_specs ul::after {
    content: none;
  }
}
/*# sourceMappingURL=produit.css.map */