#main_profil {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: url("../assets/images/night_bg.jpg") top 50% center fixed no-repeat;
  position: relative;
}

#main_profil .err_occured {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

#main_profil .err_occured p {
  margin-bottom: 0;
  text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
}

#main_profil .err_occured p a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1em;
}

#main_profil .err_occured p a:hover {
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .err_occured form input {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main_profil .err_occured form input:hover {
  cursor: pointer;
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  width: 60%;
  margin: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

#main_profil .profil_forms h3 {
  font-size: calc(16px + .8vw);
  color: #FFCC00;
  opacity: 0.75;
}

#main_profil .profil_forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#main_profil .profil_forms form input[type=email] {
  width: 30%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1%;
  height: calc(22px + 0.5vw);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}

#main_profil .profil_forms form input[type=email]:focus {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: black;
  outline: 0;
}

#main_profil .profil_forms form input[type=submit] {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 30%;
  min-width: 150px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  margin-bottom: 1%;
}

#main_profil .profil_forms form input[type=submit]:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms form input[type=submit]:nth-of-type(2) {
  margin-bottom: 2%;
}

#main_profil .profil_forms #sub_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main_profil .profil_forms #sub_form h3 {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0;
}

#main_profil .profil_forms #sub_form #block_container {
  margin-top: 5%;
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main_profil .profil_forms #sub_form #block_container div {
  padding: 5% 2% 5% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  min-width: 200px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main_profil .profil_forms #sub_form #block_container div input {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: calc(16px + 0.5vw);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 2%;
  color: white;
}

#main_profil .profil_forms #sub_form #block_container div input:focus {
  outline: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: black;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(1) {
  background: rgba(7, 11, 59, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(1):hover {
  background: rgba(7, 11, 59, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(2) {
  background: rgba(20, 28, 110, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(2):hover {
  background: rgba(7, 11, 59, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(3) {
  background: rgba(33, 44, 163, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main_profil .profil_forms #sub_form #block_container div:nth-of-type(3):hover {
  background: rgba(7, 11, 59, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms #login_form {
  position: relative;
}

#main_profil .profil_forms #login_form label {
  margin-bottom: 2%;
  font-weight: 800;
}

#main_profil .profil_forms #login_form input[type=email], #main_profil .profil_forms #login_form input[type=password] {
  width: 30%;
  min-width: 200px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1%;
  height: calc(22px + 0.5vw);
  color: rgba(255, 255, 255, 0.7);
}

#main_profil .profil_forms #login_form input[type=email]:nth-of-type(2), #main_profil .profil_forms #login_form input[type=password]:nth-of-type(2) {
  margin-bottom: 0;
}

#main_profil .profil_forms #login_form input[type=email]:focus, #main_profil .profil_forms #login_form input[type=password]:focus {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: black;
  outline: 0;
}

#main_profil .profil_forms form a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 3%;
}

#main_profil .profil_forms form a i {
  font-size: 70%;
  vertical-align: middle;
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translate(-400%, 50%);
          transform: translate(-400%, 50%);
  opacity: 0;
  visibility: hidden;
}

#main_profil .profil_forms form a:hover {
  color: #FFCC00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#main_profil .profil_forms form a:hover i {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-200%, 50%);
          transform: translate(-200%, 50%);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#main_profil .profil_forms #reg_return p {
  text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
}

#main_profil .profil_forms #reg_return p a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main_profil .profil_forms #reg_return p a:hover {
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main_profil .profil_forms #reg_return p form input[type=submit] {
  background: none;
}

#main_profil .profil_forms #reg_return p form input[type=submit]:hover {
  background: none;
}

#profil_connected {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(18, 29, 126, 0)), color-stop(20%, rgba(18, 29, 126, 0.4)), color-stop(50%, rgba(51, 59, 133, 0.6)), color-stop(80%, rgba(18, 29, 126, 0.4)), to(rgba(51, 59, 133, 0)));
  background: linear-gradient(to right, rgba(18, 29, 126, 0) 0%, rgba(18, 29, 126, 0.4) 20%, rgba(51, 59, 133, 0.6) 50%, rgba(18, 29, 126, 0.4) 80%, rgba(51, 59, 133, 0) 100%);
}

#profil_connected #block_haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-align: center;
  width: 70%;
}

#profil_connected #block_haut form input {
  background: transparent;
  border: none;
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  outline: 0;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_haut form input:hover {
  cursor: pointer;
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_haut .separator_white {
  margin-bottom: 0;
}

#profil_connected #block_haut span {
  display: inline-block;
  width: 100%;
}

#profil_connected #block_haut span h3 {
  font-size: calc(16px + 1vw);
  margin-bottom: 0;
  display: inline-block;
}

#profil_connected #block_haut span h3::first-letter {
  color: #FFCC00;
}

#profil_connected #block_haut span h3:nth-of-type(1) {
  margin-right: 1%;
}

#profil_connected #block_haut span h3:nth-of-type(2) {
  margin-left: 1%;
}

#profil_connected #block_haut h4 {
  font-size: calc(12px+0.8vw);
  margin-bottom: 0;
}

#profil_connected #block_bas {
  width: 70%;
  min-height: calc(400px + 20vh);
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

#profil_connected #block_bas a {
  text-decoration: none;
  color: #AAD3EB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_bas a:hover {
  color: #FFCC00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_bas ul#profil {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%, white 50%, white 75%, rgba(255, 255, 255, 0) 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(30%, white), color-stop(50%, white), color-stop(75%, white), to(rgba(255, 255, 255, 0)));
     border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%, white 50%, white 75%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 2;
  background: rgba(0, 0, 0, 0.5);
}

#profil_connected #block_bas ul#profil li.profil_block {
  width: 33.33%;
  position: relative;
  list-style-type: none;
  position: relative;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block {
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
  font-size: calc(10px + 0.5vw);
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 300%;
  color: white;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container {
  width: 65%;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div input {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 150px;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div input:not([type=submit]) {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: calc(10px + 0.5vw);
  background: transparent;
  outline: 0;
  border: none;
  border-bottom: 2px solid #FFCC00;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div input:not([type=submit]):focus {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div input:not([type=submit]):focus ~ label {
  color: #FFCC00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div label {
  width: 30%;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  text-align: start;
  min-width: 100px;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form input[type=submit] {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2% 0 2% 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form input[type=submit]:hover {
  cursor: pointer;
  color: yellow;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form#delaccount {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form#delaccount input[type=submit] {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border: none;
  color: rgba(255, 50, 0, 0.6);
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form#delaccount input[type=submit]:hover {
  color: red;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_orders {
  position: absolute;
  width: 300%;
  left: -25%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services {
  position: absolute;
  width: 300%;
  left: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery {
  position: relative;
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid;
  -o-border-image: linear-gradient(45deg, #ffcc00 0%, #ffcc00 15%, rgba(255, 204, 0, 0) 30%, rgba(255, 204, 0, 0) 70%, #ffcc00 85%, #ffcc00 100%);
     border-image: linear-gradient(45deg, #ffcc00 0%, #ffcc00 15%, rgba(255, 204, 0, 0) 30%, rgba(255, 204, 0, 0) 70%, #ffcc00 85%, #ffcc00 100%);
  border-image-slice: 1;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section {
  width: 20%;
  height: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section p a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 2% 5% 2% 5%;
  background: rgba(255, 255, 255, 0.8);
  color: #04133D;
  border: 2px solid #04133D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover {
  width: 100%;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p {
  opacity: 1;
  -webkit-transition: all 0.6s 0.5s ease-in;
  transition: all 0.6s 0.5s ease-in;
  z-index: 2;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p ~ img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p:hover a {
  z-index: 2;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p:hover ~ img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p a:hover {
  color: #FFCC00;
  background: #04133D;
  border: 2px solid #FFCC00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_services #services_gallery .services_section:hover p a:hover ~ img {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block p {
  margin-top: 0;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block #orders_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  height: 70%;
  width: 92%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #FFCC00 #04133D;
  scrollbar-width: thin;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block #orders_wrap .order_min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 3% 0;
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block #orders_wrap .order_min .tdimg {
  width: 40%;
}

#profil_connected #block_bas ul#profil li.profil_block section.active_block #orders_wrap .order_min .tdimg img {
  width: 100%;
}

#profil_connected #block_bas ul#profil li.profil_block input[type=radio] {
  display: none;
  list-style-type: none;
}

#profil_connected #block_bas ul#profil li.profil_block input[type=radio] ~ section {
  opacity: 0;
}

#profil_connected #block_bas ul#profil li.profil_block input[type=radio]:checked ~ section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#profil_connected #block_bas ul#profil li.profil_block label {
  text-align: center;
}

#profil_connected #block_bas ul#profil li.profil_block label p {
  color: white;
  margin: 0;
  padding: 5% 0 5% 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#profil_connected #block_bas ul#profil li.profil_block label p:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  color: #FFCC00;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.delete, .isdelete {
  min-height: 65vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete p, .isdelete p {
  width: 70%;
}

.delete h3 {
  font-size: 1.7em;
  text-align: center;
}

.delete form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 150px;
}

.delete form input[type=submit] {
  font-family: "Bodoni Moda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 50%;
  margin-bottom: 2%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2% 0 2% 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.delete form input[type=submit]:hover {
  cursor: pointer;
  color: yellow;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: initial;
  }
}

@keyframes grow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: initial;
  }
}

@media screen and (max-width: 599px) {
  html body main#main_profil section#profil_connected div#block_bas ul#profil li.profil_block section.active_block.active_block_infos,
  html body main#main_profil section#profil_connected div#block_bas ul#profil li.profil_block section.active_block.active_block_orders {
    height: auto;
    padding: 10% 0%;
  }
  #main_profil .profil_forms {
    width: 100%;
    margin: 0;
  }
  #main_profil .profil_forms p {
    margin: auto 6% auto 6%;
  }
  #main_profil .profil_forms form input[type=submit] {
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin-bottom: 3%;
    padding: 5% 0 5% 0;
  }
  #main_profil .profil_forms form input[type=submit]:nth-of-type(2) {
    margin-bottom: 5%;
  }
  #main_profil .profil_forms #login_form {
    width: 100%;
  }
  #main_profil .profil_forms #login_form label {
    width: 80%;
  }
  #main_profil .profil_forms #login_form input[type=email], #main_profil .profil_forms #login_form input[type=password] {
    width: 80%;
  }
  #main_profil .profil_forms #sub_form #block_container {
    margin: 0;
    width: 100%;
  }
  #main_profil .profil_forms #sub_form #block_container div {
    background: red;
    width: 100%;
  }
  #main_profil .profil_forms #sub_form input[type=submit] {
    width: 100%;
  }
  #main_profil #block_bas {
    width: 100%;
  }
  #main_profil #block_bas .active_block {
    height: 100%;
  }
  #profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div label, #profil_connected #block_bas ul#profil li.profil_block section.active_block.active_block_infos #form_container form div input {
    width: 100%;
    text-align: center;
  }
  html body main#main_profil section#profil_connected div#block_bas ul#profil li.profil_block section.active_block.active_block_services {
    margin-top: 20%;
  }
}
/*# sourceMappingURL=profil.css.map */