$font_base:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$blue:#04133D;
$yellow:#FFCC00;

#main_profil{
    font-family:$font_base;
    background:url('../assets/images/night_bg.jpg') top 50% center fixed no-repeat;
    position:relative;
    .err_occured{
        min-height:50vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        color:white;
        text-align: center;
        p{
            margin-bottom:0;
            text-shadow:0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
            a{
                color:white;
                transition:all 0.3s;
                font-size:1em;
                &:hover{
                    color:$yellow;
                    transition:all 0.5s;
                }
            }
        }
        form{
            input{
                font-family:$font_base;
                font-size:1em;
                background:none;
                border:none;
                color:white;
                text-decoration:underline;
                transition:all 0.3s;
                &:hover{
                    cursor:pointer;
                    color:$yellow;
                    transition:all 0.5s;
                }
            }
        }
    }
    .profil_forms{
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        min-height:50vh;
        width:60%;
        margin:auto;
        text-align:center;
        color:rgba(255,255,255,0.9);
        text-shadow:1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
        h3{
            font-size:calc(16px + .8vw);
            color:#FFCC00;
            opacity:0.75;
        }
        form{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            width:100%;
            height:100%;
            input{
                &[type=email]{
                    width:30%;
                    background:transparent;
                    border:none;
                    border-bottom:1px solid white;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    transition: all 0.3s;
                    margin-bottom:1%;
                    height:calc(22px + 0.5vw);
                    color:rgba(255,255,255,0.7);
                    margin-bottom:0;
                    &:focus{
                        background:rgba(255,255,255,0.7);
                        border:1px solid white;
                        transition:all 0.4s;
                        color:black;
                        outline:0;
                    }
                }
                &[type=submit]{
                    font-family:$font_base;
                    width:30%;
                    min-width:150px;
                    background:rgba(0,0,0,0.5);
                    color:white;
                    padding:2%;
                    transition: all 0.3s;
                    border:0;
                    margin-bottom:1%;
                    &:hover{
                        cursor:pointer;
                        background:rgba(0,0,0,0.9);
                        color:$yellow;
                        transition: all 0.5s;
                    }
                    &:nth-of-type(2){
                        margin-bottom:2%;
                    }
                }
            } 
        }
        #sub_form{
            width:100%;
            display:flex;
            justify-content: center;
            align-items:center;
            align-content:center;
            h3{
                font-family: $font_base;
                margin-bottom:0;
            }
            #block_container{
                margin-top:5%;
                position:relative;
                width:90%;
                height:100%;
                margin-left:auto;
                margin-right:auto;
                display:flex;
                flex-direction:row;
                justify-content: center;
                align-items:stretch;
                flex-wrap:wrap;
                div{
                    padding:5% 2% 5% 2%;
                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: center;
                    width:25%;
                    min-width:200px;
                    height:auto;
                    flex-grow:1;
                    input{
                        width:90%;
                        background:transparent;
                        border:none;
                        border-bottom:1px solid white;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height:calc(16px + 0.5vw);
                        transition:all 0.3s;
                        padding-left:2%;
                        color:white;
                        &:focus{
                            outline:0;
                            background:rgba(255,255,255,0.7);
                            transition:all 0.5s;
                            color:black;
                        }
                    }
                    &:nth-of-type(1){
                        background:rgba(7, 11, 59, 0.75);
                        transition:all 0.3s;
                        &:hover{
                            background:rgba(7, 11, 59, 0.9);
                            transition:all 0.5s;
                        }
                    }
                    &:nth-of-type(2){
                        background:rgba(20, 28, 110, 0.75);
                        transition: all 0.3s;
                        &:hover{
                            background:rgba(7, 11, 59, 0.9);
                            transition:all 0.5s;
                        }
                    }
                    &:nth-of-type(3){
                        background:rgba(33, 44, 163, 0.75);
                        transition:all 0.3s;
                        &:hover{
                            background:rgba(7, 11, 59, 0.9);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        #login_form{
            position:relative;
            label{
                margin-bottom:2%;
                font-weight:800;
            }
            input{
                &[type=email], &[type=password]{
                    width:30%;
                    min-width:200px;
                    background:transparent;
                    border:none;
                    border-bottom:1px solid white;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    transition: all 0.3s;
                    margin-bottom:1%;
                    height:calc(22px + 0.5vw);
                    color:rgba(255,255,255,0.7);
                    &:nth-of-type(2){
                        margin-bottom:0;
                    }
                    &:focus{
                        background:rgba(255,255,255,0.7);
                        border:1px solid white;
                        transition:all 0.4s;
                        color:black;
                        outline:0;
                    }
                }
            }
        }
        form{
            a{
                color:rgba(255,255,255,0.7);
                text-decoration:none;
                transition:all 0.3s;
                position:relative;
                margin-bottom:3%;
                i{
                    font-size:70%;
                    vertical-align: middle;
                    position:absolute;
                    left:0;
                    bottom:50%;
                    transform:translate(-400%,50%);
                    opacity:0;
                    visibility: hidden;
                }
                &:hover{
                    color:#FFCC00;
                    transition:all 0.4s;
                    i{
                        visibility: visible;
                        opacity:1;
                        transform:translate(-200%,50%);
                        transition:all 0.8s;
                    }
                }
            }
        }
        #reg_return{
            p{
                text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
                a{
                    color:white;
                    transition:all 0.3s;
                    &:hover{
                        color:$yellow;
                        transition:all 0.5s;
                    }
                }
                form{
                    input{
                        &[type=submit]{
                            background:none;
                            &:hover{
                                background:none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#profil_connected{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background:linear-gradient(to right, rgba(18, 29, 126, 0) 0%, rgba(18, 29, 126, 0.4) 20%,
        rgba(51, 59, 133, 0.6) 50%,rgba(18, 29, 126, 0.4) 80%, rgba(51, 59, 133, 0) 100%);
    #block_haut{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family:$font_base;
        color:white;
        text-align:center;
        width:70%;
        form{
            input{
                background:transparent;
                border:none;
                font-family:$font_base;
                outline:0;
                color:white;
                transition:all 0.3s;
                &:hover{
                    cursor:pointer;
                    color:$yellow;
                    transition:all 0.5s;
                }
            }
        }
        .separator_white{
            margin-bottom:0;
        }
        span{
            display:inline-block;
            width:100%;
            h3{
                font-size:calc(16px + 1vw);
                margin-bottom:0;
                display:inline-block;
                &::first-letter{
                    color:$yellow;
                }
                &:nth-of-type(1){
                    margin-right:1%;
                }
                &:nth-of-type(2){
                    margin-left:1%;
                }
            }
        }
        h4{
            font-size:calc(12px+0.8vw);
            margin-bottom:0;
        }
    }

    #block_bas{
        width:70%;
        min-height:calc(400px + 20vh);
        color:white;
        justify-content: center;
        text-align:center;
        position:relative;
        a{
            text-decoration:none;
            color:#AAD3EB;
            transition:all 0.3s;
            &:hover{
                color:$yellow;
                transition:all 0.5s;
            }
        }
        ul#profil{
            display:flex;
            flex-wrap:wrap;
            width:100%;
            padding:0;
            margin:0;
            border-bottom:3px solid;
            border-image:linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
            border-image-slice:2;
            li.profil_block{
                width:33.33%;
                list-style-type: none;
                position:relative;
                section.active_block{
                    height:400px;
                    background:rgba(0,0,0,0.4);
                    font-size:calc(10px + 0.5vw);
                    &.active_block_infos{
                        display:flex;
                        flex-direction:column;
                        position:absolute;
                        width:300%;
                        color:white;
                        #form_container{
                            width:65%;
                            form{
                                width:100%;
                                display:flex;
                                flex-direction:column;
                                div{
                                    display:flex;
                                    flex-direction:row-reverse;
                                    flex-wrap:wrap;
                                    justify-content: space-between;
                                    width:100%;
                                    input{
                                        width:60%;
                                        flex-grow:1;
                                        min-width:150px;
                                        &:not([type=submit]){
                                            font-family: $font_base;
                                            font-size:calc(10px + 0.5vw);
                                            background:transparent;
                                            outline:0;
                                            border:none;
                                            border-bottom:2px solid $yellow;
                                            color:rgba(255,255,255,0.7);
                                            transition: all 0.3s;
                                            &:focus{
                                                color:black;
                                                background:rgba(255,255,255,0.7);
                                                transition:all 0.5s;
                                                &~label{
                                                    color:$yellow;
                                                    transition:all 0.4s;
                                                }
                                            }
                                        }
                                    }
                                    label{
                                        width:30%;
                                        flex-grow:0.5;
                                        text-align:start;
                                        min-width:100px;
                                    }
                                }
                                input[type=submit]{
                                    font-family:$font_base;
                                    width:100%;
                                    background:rgba(0,0,0,0.5);
                                    color:white;
                                    padding:2% 0 2% 0;
                                    border:1px solid rgba(255,255,255,0.5);
                                    transition:all 0.3s;
                                    &:hover{
                                        cursor:pointer;
                                        color:yellow;
                                        background:rgba(0,0,0,0.7);
                                        transition:all 0.5s;
                                    }
                                }
                            }
                        }
                    }
                    &.active_block_orders{
                        position:absolute;
                        width:300%;
                        left:-25%;
                        transform:translateX(-25%);
                    }
                    &.active_block_services{
                        position:absolute;
                        width:300%;
                        left:-50%;
                        transform:translateX(-50%);
                        #services_gallery{
                            position:relative;
                            width:90%;
                            height:90%;
                            display:flex;
                            border:3px solid; 
                            border-image:linear-gradient(45deg, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 15%, rgba(255,204,0,0) 30%, rgba(255,204,0,0) 70%, rgba(255,204,0,1) 85%, rgba(255,204,0,1) 100%);
                            border-image-slice:1;
                            .services_section{
                                width:20%;
                                height:100%;
                                transition:all 0.5s ease-out;
                                position:relative;
                                p{
                                    position:absolute;
                                    top:50%;
                                    left:50%;
                                    transform:translate(-50%,-50%);
                                    opacity:0;
                                    width:30%;
                                    display:flex;
                                    a{
                                        flex-grow:1;
                                        width:100%;
                                        padding:2% 5% 2% 5%;
                                        background:rgba(255, 255, 255, 0.8);
                                        color:$blue;
                                        border:2px solid $blue;
                                        transition: all 0.3s;
                                    }
                                }
                                img{
                                    width:100%;
                                    height:100%;
                                    object-fit: cover;
                                }
                                &:hover{
                                    width:100%;
                                    transition:all 0.7s ease-in;
                                    p{
                                        opacity:1;
                                        transition: all 0.6s 0.5s ease-in;
                                        z-index:2;
                                        &~img{
                                            transition:all 0.3s ease-out;
                                        }
                                        &:hover{
                                            a{
                                                z-index:2;
                                            }
                                            &~img{
                                                filter:blur(3px);
                                                transition:all 0.6s ease-out;
                                            }
                                        }
                                        a{
                                            &:hover{
                                                color:$yellow;
                                                background:$blue;
                                                border:2px solid $yellow;
                                                transition:all 0.4s;
                                                &~img{
                                                    filter:blur(10px);
                                                    transition:all 0.5s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    p{
                        margin-top:0;
                    }
                    #orders_wrap{
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        color:white;
                        height:70%;
                        width:92%;
                        overflow:scroll;
                        overflow-x:hidden;
                        table{
                            color:white;
                            text-align:center;
                            td{
                                justify-content: center;
                                align-items:center;
                                text-align:center;
                                table{
                                    width:100%;
                                }
                                &.tdimg{
                                    position:relative;
                                    width:6%;
                                    img{
                                        width:100%;
                                    }
                                }
                            }
                        }
                    }
                }
                input[type=radio]{
                    display:none;
                    list-style-type: none;
                    &~section{
                        opacity:0;
                    }
                    &:checked{
                        &~section{
                            display:flex;
                            justify-content: center;
                            align-items:center;
                            z-index:3;
                            opacity:1;
                            transition:all 0.5s;
                        }
                    }
                }
                label{
                    text-align: center;
                    p{
                        background:rgba(0,0,0,0.5);
                        color:white;
                        margin:0;
                        padding:5% 0 5% 0;
                        transition:all 0.3s;
                        &:hover{
                            cursor:pointer;
                            background:rgba(0,0,0,0.9);
                            color:$yellow;
                            transition:all 0.6s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadein{
    0%{opacity:0;}
    30%{opacity:0;}
    100%{opacity:1;}
}

@keyframes grow{
    0%{font-size:0;}
    100%{font-size:initial;}
}

@media screen and (max-width:599px){
    #main_profil{
        .profil_forms{
            width:100%;
            margin:0;
            p{
                margin: auto 6% auto 6%;
            }
            form{
                input{
                    &[type=submit]{
                        background:rgba(0,0,0,0.8);
                        width:80%;
                        margin-bottom:3%;
                        padding:5% 0 5% 0;
                        &:nth-of-type(2){
                            margin-bottom:5%;
                        }
                    }
                }
            }
            #login_form{
                width:100%;
                label{
                    width:80%;
                }
                input{
                    &[type=email], &[type=password]{
                        width:80%;
                    }
                }
            }
            #sub_form{
                #block_container{
                    margin:0;
                    width:100%;
                    div{
                        background:red;
                        width:100%;
                    }
                }
                input[type=submit]{
                    width:100%;
                }
            }
        }
        #block_bas{
            width:100%;
            .active_block{
                height:100%;
            }
        }
    }
}