$font_base:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$blue:#04133D;
$yellow:#FFCC00;

#main_search{
    background:linear-gradient(90deg, rgba(4,19,61,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(4,19,61,1) 100%);
    #search_results{
        position:relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .noresult{
            display:flex;
            align-items: center;
            height:30vh;
            color:white;
            font-family:$font_base;
        }
        #search_results_box{
            position:relative;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: center;
            align-items:stretch;
            width:70%;
            min-width:400px;
            border-bottom:3px solid;
            border-image:linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 85%);
            border-image-slice: 2;
            .watch_result{
                display:flex;
                position:relative;
                flex-direction:column;
                text-align:center;
                justify-content: space-between;
                width:15%;
                min-width:150px;
                color:white;
                padding:3.5% 2%;
                border:2px solid rgba(255,255,255,0.3);
                border-radius:15px;
                a{
                    position:relative;
                    display:flex;
                    align-self:center;
                    width:70%;
                    object-fit: cover;
                    border-bottom:2px solid;
                    border-image:linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 85%);
                    border-image-slice:2;
                    &:after{
                        content:'';
                        position:absolute;
                        left:0; top:0;
                        width:100%; height:100%;
                        display:inline-block;
                        background:radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,1) 100%);
                        transition:all 0.3s;
                    }
                    img{
                        width:100%;;
                        height:100%;
                        object-fit: contain;
                        transition:all 0.2s;
                    }
                    &:hover{
                        border-bottom:0;
                        img{
                            transform:scale(1.1);
                            transition:all 0.3s ease-in;
                        }
                        &:after{
                            opacity:0;
                            transform:scale(1.1);
                            transition:opacity 0.3s ease-in, scale 0.4s;
                        }
                    }
                }
                figcaption{
                    position:relative;
                    width:100%;
                    padding:2% 1%;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family:'Bodoni Moda', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    .title{
                        display:flex;
                        position:relative;
                        width:100%;
                        flex-direction:column;
                        align-items: center;
                        h3{
                            color:$yellow;
                            margin-top:0;
                        }
                        .line{
                            height:2px;
                            width:80%;
                            background:linear-gradient(90deg, rgba(0,0,0,0) 30%, $yellow 50%, rgba(0,0,0,0) 70%);
                        }
                    }
                    .alert_text{
                        position:absolute;
                        bottom:-20%;
                    }
                    .name{
                        position:relative;
                        width:100%;
                        display:flex;
                        flex-direction:column;
                        justify-content: space-between;
                        align-items:center;
                        p{
                            margin:0;
                        }
                        h4{
                            font-size:1.2em;
                            margin:1% 0;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }
                    }
                    form{
                        input[type=submit]{
                            margin-top:1%;
                            padding:5% 8%;
                            font-family:$font_base;
                            font-size:1em;
                            background:$blue;
                            color:$yellow;
                            border:1px solid $yellow;
                            transition:all 0.2s ease-out;
                            &:hover{
                                cursor:pointer;
                                background:#14389b;
                                color:white;
                                border:1px solid white;
                                transition:all 0.3s ease-in;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:599px){
    .alert_text{
        display:none;
    }
    .watch_result{
        margin:0;
    }
}